table,
th,
tr,
td {
    border: 1px solid #4f4f4f;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    color: #3f3f3f;
}

table {
    width: 40%;
    margin: 0 auto;
}

td button {
    border: unset;
    padding: 5px 5px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.total {
    width: 520px;
    padding:  1px 10px;
    margin-top: 10px;
    margin-left: 30%;
    color:#ffd700;
    background: #21813e;
}

@media (max-width: 1024px) {
    table {
        width: 100%;
    }

    .total {
       margin-left: 0%;
       width: 95%;
    }
}